body{
    font-family: sans-serif;
    margin: auto;
    display: block;
    background-color: #f1f1f1;
    padding-top: 20px; 
    text-align: center;     
}
h1{
    font-size: 50px;
}
#divImgPts{
    width: 600px;
    display: inline-block;
    margin: auto;
}
#imgComp {
	max-width: 300px;
    height: auto;
    float: left;
}
#ptsComp{
    float: right;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 50px;
}
#divJuryComp{
    max-width: 100%;
    height: 300px;
    display: block;
    margin: auto;
    text-overflow: ellipsis;
    font-size: 50px;
    
}
