body{
    font-family: sans-serif;
    margin: auto;
    display: block;
    background-color: #f1f1f1;
    padding-top: 20px; 
    text-align: center;     
}
h1{
    font-size: 50px;
}
#titleComp{
    padding-bottom: 2%;
}
#divImgPts{
    width: 800px;
    display: inline-block;
    margin: auto;
    font-size: 35px;
}
#imgComp {
	max-width: 450px;
    height: auto;
    float: left;
}
#ptsComp{
    float: right;
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 50px;

}
#divJuryComp{
    max-width: auto;
    max-height: 300px;  
    margin: auto;
    font-size: 50px;
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-bottom: 5%;
    justify-content: center;
}
.div3jury{

    width: 400px;
    max-height: 300px;

}
#divPSP{
    padding-top: 2%;
    display: block;
}

.imgsPSP{
    padding-left: 5%;
    padding-right: 5%;
    outline: none;
}


.noteJury{
    color: darkred;
    border: 2px outset red;
    padding: 10px;
    border-radius: 20px;

}

.totalJury{
    color: darkred;
}

#btnClassement {
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
  background-color: rgb(240, 61, 61); 
  border: 3px solid rgb(240, 61, 61);  
  color: white;
  padding: 15px 32px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 30px;
  float: top;

  }
  
  #btnClassement:hover {
    background-color: rgb(241, 235, 235); 
    color: black;
    border: 3px solid rgb(240, 61, 61);
   
  }
